.navbar {
    background-color: #0d6efd;
    padding: 16px;
    margin-bottom: 32px;
}

/*body {
    background-image: url("background-crm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/